%section.wrapper.main-wrapper.bg-floater.row{:style => ""}
  / MAIN CONTENT AREA STARTS
  .col-lg-12.bg-floater
    %section.cube-options.fixed-bg{style: 'background-color: transparent;'}
      .bg-holder-selector
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/island.png', 'data-bg' => '/assets/users/island.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/light.png', 'data-bg' => '/assets/users/light.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/night.png', 'data-bg' => '/assets/users/night.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/water.png', 'data-bg' => '/assets/users/water.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/heros.png', 'data-bg' => '/assets/users/heros.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/fruit.png', 'data-bg' => '/assets/users/fruit.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/agency.png', 'data-bg' => '/assets/users/agency.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/book.png', 'data-bg' => '/assets/users/book.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/city.png', 'data-bg' => '/assets/users/city.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/shadow.png', 'data-bg' => '/assets/users/shadow.png'}

        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-01.png', 'data-bg' => '/assets/users/theme-01.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-02.png', 'data-bg' => '/assets/users/theme-02.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-03.png', 'data-bg' => '/assets/users/theme-03.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-04.png', 'data-bg' => '/assets/users/theme-04.jpeg'}

        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-05.png', 'data-bg' => '/assets/users/theme-05.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-06.png', 'data-bg' => '/assets/users/theme-06.png'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-07.png', 'data-bg' => '/assets/users/theme-07.jpg'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-08.png', 'data-bg' => '/assets/users/theme-08.jpeg'}

        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-09.png', 'data-bg' => '/assets/users/theme-09.jpeg'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-10.png', 'data-bg' => '/assets/users/theme-10.jpeg'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-11.png', 'data-bg' => '/assets/users/theme-11.jpeg'}
        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-12.png', 'data-bg' => '/assets/users/theme-12.jpeg'}

        .col-sm-12.col-xs-3.bg-image-holder
          %img.image{src: '/assets/users/theme-icon/theme-13.png', 'data-bg' => '/assets/users/theme-13.jpeg'}


