!!!
%html
  %head
    /
      * @Package: Crest Admin - Responsive Theme
      * @Subpackage: Bootstrap
      * @Version: 1.0
      * This file is part of Crest Admin Theme.
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Crest Admin : Login Page
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    

  %body.login_page
    .container-fluid
      .login-wrapper.row
        #login.login.loginpage.col-lg-offset-4.col-md-offset-3.col-sm-offset-3.col-xs-offset-0.col-xs-12.col-sm-6.col-lg-4
          %h1.text-center{style: 'color: white;'}
            / PIN
            / %sup{style: "left: -0.3em;margin-right: -0.5em;"}3
            SindyCUBEs
          
          = form_tag(cubes_users_path, id: "form-sign-in", method: :post, novalidation: false,
            autocomplete: 'off') do
            .form-group
              = email_field_tag :email, nil, placeholder: "Email", required: true
            .form-group
              = password_field_tag :password, nil, placeholder: "Password", required: true
            %p.submit
              =button_tag "Sign in", name: "wp-submit", id: 'wp-submit', class: "btn btn-accent btn-block btn-sign-in"
            %p#nav
              .clearfix
              %a.pull-left{:href => forgot_password_users_registrations_path, :title => "Password Lost and Found"} Forgot password?
              %a.pull-right{:href => users_sign_up_path, :title => "Sign Up"} Sign Up
          .clearfix
          %p#nav.text-center{style: 'font-size: 18px;'} or
          .clearfix
          %p#nav.text-center
          %p#nav
            %button#fb-sign-in.btn.btn-block{style: "background: #3b5998; color: white;"} 
              %i.fa.fa-facebook-square{style: 'font-size: 20px; float: left;'}
              Sign in with Facebook
          %p#nav
            %button#google-sign-in.btn.btn-block{style: "background: #d34836; color: white;"} 
              %i.fa.fa-google{style: 'font-size: 20px; float: left; margin-top: 4px;'}
              Sign in with Google
          %p#nav
            %button.phone-sign-in.btn.btn-block{style: "background: #07b998; color: white;", data: {toggle: :modal, target: "#phone-popup"}} 
              %i.fa.fa-mobile{style: 'font-size: 25px; float: left; margin-top: 0;'}
              Sign in with Phone
    = render 'layouts/modals/phonepop'
          
          
    
