#cmpltadminModal-7.collabreqs.modal.fade.col-xs-12{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Collaboration Requests
      .modal-body{style: "padding:15px"}
        .row
          .wid-notification{style: "padding: 0 15px;"}
            %ul.list-unstyled.notification-widget
              / %li.status-offline
              /   %a{:href => "javascript:;"}
              /     .user-img
              /       %img.img-circle.img-inline{:alt => "user-image", :src => "/assets/default-profile.png"}/
              /     %div
              /       %span.name
              /         %strong Clarine Vassar
              /         %button.pull-right.btn.btn-info{"data-toggle" => "modal", :href => "#cmpltadminModal-4"} Add
              / %li.status-offline
              /   %a{:href => "javascript:;"}
              /     .user-img
              /       %img.img-circle.img-inline{:alt => "user-image", :src => "/assets/default-profile.png"}/
              /     %div
              /       %span.name
              /         %strong Brooks Latshaw
              /         %button.pull-right.btn.btn-info{"data-toggle" => "modal", :href => "#cmpltadminModal-4"} Add
              / %li.status-offline
              /   %a{:href => "javascript:;"}
              /     .user-img
              /       %img.img-circle.img-inline{:alt => "user-image", :src => "/assets/default-profile.png"}/
              /     %div
              /       %span.name
              /         %strong Clementina Brodeur
              /         %button.pull-right.btn.btn-info{"data-toggle" => "modal", :href => "#cmpltadminModal-4"} Add
              / %li.status-offline
              /   %a{:href => "javascript:;"}
              /     .user-img
              /       %img.img-circle.img-inline{:alt => "user-image", :src => "/assets/default-profile.png"}/
              /     %div
              /       %span.name
              /         %strong Carri Busey
              /         %button.pull-right.btn.btn-info{"data-toggle" => "modal", :href => "#cmpltadminModal-4"} Add
              / %li.status-offline
              /   %a{:href => "javascript:;"}
              /     .user-img
              /       %img.img-circle.img-inline{:alt => "user-image", :src => "/assets/default-profile.png"}/
              /     %div
              /       %span.name
              /         %strong Melissa Dock
              /         %button.pull-right.btn.btn-info{"data-toggle" => "modal", :href => "#cmpltadminModal-4"} Add
              / %li.status-offline
              /   %a{:href => "javascript:;"}
              /     .user-img
              /       %img.img-circle.img-inline{:alt => "user-image", :src => "/assets/default-profile.png"}/
              /     %div
              /       %span.name
              /         %strong Verdell Rea
              /         %button.pull-right.btn.btn-info{"data-toggle" => "modal", :href => "#cmpltadminModal-4"} Add
              / %li.status-offline
              /   %a{:href => "javascript:;"}
              /     .user-img
              /       %img.img-circle.img-inline{:alt => "user-image", :src => "/assets/default-profile.png"}/
              /     %div
              /       %span.name
              /         %strong Linette Lheureux
              /         %button.pull-right.btn.btn-info{"data-toggle" => "modal", :href => "#cmpltadminModal-4"} Add
              / %li.status-offline
              /   %a{:href => "javascript:;"}
              /     .user-img
              /       %img.img-circle.img-inline{:alt => "user-image", :src => "/assets/default-profile.png"}/
              /     %div
              /       %span.name
              /         %strong Araceli Boatright
              /         %button.pull-right.btn.btn-info{"data-toggle" => "modal", :href => "#cmpltadminModal-4"} Add



      .modal-footer
        %button.btn.btn-info{"data-dismiss" => "modal", :type => "button"} Close
