#phone-popup.modal.fade.col-xs-12{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      / .modal-header
      /   %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      /   %h4.modal-title Phone Login
      .modal-body{style: "padding:15px"}


