#cmpltadminModal-32.modal.fade.col-xs-12{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.animated.rubberBand{:style => "min-height: 90vh;justify-content: center;align-items: center;display: flex;width: 100%;"}
    .modal-content{:style => "min-width: 100vh;"}
      .modal-body
        .progress{:style => "width: 100%; margin-bottom: 0;"}
          .progress-bar.progress-bar-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar", :style => "width: 0; transition: 0.8s"}
            %span.sr-only 0% Complete

