/ %head
/   = stylesheet_link_tag "cubes/cubes.css"
/   = stylesheet_link_tag "cubes/jquery-ui.min.css"
/   = javascript_include_tag "jquery.js"
/   = javascript_include_tag "cubes/jquery-ui.min.js"
/   = javascript_include_tag "cubes/three.min.js"
/   = javascript_include_tag "cubes/orbitcontrols.js"
/   = javascript_include_tag "cubes/dragcontrols.js"
/   = javascript_include_tag "cubes/transformcontrols.js"
/   = javascript_include_tag "cubes/pin3d_01.js"

%body
  / %section#main-content
  %section.wrapper.main-wrapper.row{:style => ""}
    .col-xs-12
      .page-title
        .pull-left
          %h1.title Dashboard
    .clearfix
    / MAIN CONTENT AREA STARTS
    .col-lg-12.dashboard
      %section.box
        %header.panel_header
          %h2.title.pull-left Dashboard
        .content-body
          .row
            .col-xs-12
