%section.section-3.row.container
  .col-sm-12.text-center.text-uppercase
    %ul.list-inline
      / %li.title
      /   %a.Footer-nav-item{:href => root_path} PINCUBED
      / %li.title
      /   %a.Footer-nav-item{:href => "https://www.collabrjabbr.com/"} COLLABRJABBR
      / %li.title
      /   %a.Footer-nav-item{:href => "http://www.thematics.net", :target => "_blank"} THEMATICS
      %li.title
        %a.Footer-nav-folder-item{:href => "https://www.seamlessintegrateddynamics.com/"} SINDY.IO
  .col-sm-12.text-center
    %ul.list-inline.social-media-bottom
      %li.title
        %a{href: 'https://twitter.com/CollabRjabbR'}
          %i.fa.fa-twitter
      %li.title
        %a{href: 'https://www.facebook.com/charles.kirby.750'}
          %i.fa.fa-facebook
      %li.title
        %a{href: 'https://www.youtube.com/channel/UCuSgh2VO_Doq8I9f3lbMBGA'}
          %i.fa.fa-youtube-play
  /     %li
  /       %a Home
  /     %li
  /       %a Sign Up
  /     %li
  /       %a About
  /     %li
  /       %a Investor Resaltions
  / .col-sm-4
  /   %ul.list-unstyled
  /     %li.title Blogs and Community
  /     %li
  /       %a PinCUBED Blog
  /     %li
  /       %a Facebook
  /     %li
  /       %a Instagram
  /     %li
  /       %a Twitter
  /     %li
  /       %a Youtube
  / .col-sm-4
  /   %ul.list-unstyled
  /     %li.title Support
  /     %li
  /       %a Community Forum
  /     %li
  /       %a FAQ
  /     %li
  /       %a Contact PinCUBED
  /     %li
  /       %a Downloads