!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Test 360 Video
    %meta{:content => "360 Video — A-Frame", :name => "description"}/
  
    %script{:src => "https://aframe.io/releases/0.9.2/aframe.js"}
  %body
    = yield